<p>Bonjour <%= @request.name %>,</p>

<p>Nous avons bien reçu votre demande d'inscription sur notre liste d'attente !</p>
<p>Afin de pouvoir enregistrer définitivement votre demande, merci de valider votre email en cliquant sur le lien suivant:</p>
<p><%= confirm_email_request_url(@request.confirmation_token) %></p>

<p>Merci et à très vite!</p>

<p>L'équipe du Coworking</p>
