.banner {
  background: image-url("banner-cw.svg") no-repeat center center fixed;
  min-width: 100vw;
  min-height: 100vh;
  // background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
  }

}
