.btn-grad {
  background-image: linear-gradient(to right, #f86f00 0%, #ff1e1e 51%, #f86f00 100%);
  // color: white;
  // border-radius: 30px;
  // box-shadow: none;
  // padding: 10px 20px;
  // margin: 10px;
  // font-size: 16px;
  // transition: all .4s ease-in-out;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  text-decoration: none;
  border: none;
  background-size: 200% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-grad:hover {
  background-position: 100% 0;
  color: white;
  text-decoration: none;
  transition: all .4s ease-in-out;
}
